In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib 
import matplotlib.pyplot as plt
sns.set()
from scipy import stats
import matplotlib.pyplot as plt

import ColumnTransforme_regression2

In [4]:
Commerce_csv=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Nueva carpeta\dataset_csv\E-Commerce_train_csv.csv')

In [5]:
Commerce_csv_train_proc=ColumnTransforme_regression2.funcion_ColumnTransforme(Commerce_csv)

In [6]:
Commerce_csvtest=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Nueva carpeta\dataset_csv\E-Commerce_test_csv.csv')

In [7]:
Commerce_csv_test_proc=ColumnTransforme_regression2.funcion_ColumnTransforme(Commerce_csvtest)

In [8]:
#utilizo mi funcion para procesar los datos
df3=ColumnTransforme_regression2.funcion_regression_log(Commerce_csv_train_proc,Commerce_csv_test_proc)

In [9]:
df3

      pred
0        1
1        1
2        0
3        0
4        0
...    ...
1995     0
1996     1
1997     1
1998     0
1999     1

[2000 rows x 1 columns]

In [10]:
df3.to_csv("bparedes21.csv", index=False)

In [12]:
bparedes21=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Nueva carpeta\archivos python\bparedes21.csv')

In [13]:
bparedes21

      pred
0        1
1        1
2        0
3        0
4        0
...    ...
1995     0
1996     1
1997     1
1998     0
1999     1

[2000 rows x 1 columns]