In [1]:
import pandas as pd
import numpy as np

In [39]:
Commerce_xls=pd.read_excel(r'C:\Users\ROXI\OneDrive\Escritorio\henry\pi\datathon\Datathon\E-Commerce_test.xlsx',dtype=str)

In [40]:
Commerce_xls.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9000,F,Ship,5,1,189,2,medium,M,10,5248
1,9001,D,Ship,5,3,150,2,high,F,9,4446
2,9002,F,Ship,3,3,200,3,low,M,3,5739
3,9003,A,Ship,5,1,133,2,medium,M,1,4643
4,9004,B,Ship,4,2,260,3,low,M,4,5504

In [48]:
Commerce_xls['ID'] = pd.to_numeric(Commerce_xls['ID'])
Commerce_xls['Customer_care_calls'] = pd.to_numeric(Commerce_xls['Customer_care_calls'])
Commerce_xls['Customer_rating'] = pd.to_numeric(Commerce_xls['Customer_rating'])
Commerce_xls['Cost_of_the_Product'] = pd.to_numeric(Commerce_xls['Cost_of_the_Product'])
Commerce_xls['Prior_purchases'] = pd.to_numeric(Commerce_xls['Prior_purchases'])
Commerce_xls['Discount_offered'] = pd.to_numeric(Commerce_xls['Discount_offered'])
Commerce_xls['Weight_in_gms'] = pd.to_numeric(Commerce_xls['Weight_in_gms'])

In [52]:
Commerce_xls[['Warehouse_block','Mode_of_Shipment','Product_importance','Gender']]=Commerce_xls[['Warehouse_block','Mode_of_Shipment','Product_importance','Gender']].astype('string')

In [58]:
Commerce_xls.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.00000,2000.00000,2000.00000
mean,9999.500000,4.231500,2.97050,217.555000,3.82000,5.61400,5.61400
std,577.494589,1.136465,1.41585,46.336276,1.45453,2.90469,2.90469
min,9000.000000,2.000000,1.00000,96.000000,2.00000,1.00000,1.00000
25%,9499.750000,3.000000,2.00000,179.750000,3.00000,3.00000,3.00000
50%,9999.500000,4.000000,3.00000,226.000000,4.00000,6.00000,6.00000
75%,10499.250000,5.000000,4.00000,255.000000,5.00000,8.00000,8.00000
max,10999.000000,7.000000,5.00000,310.000000,10.00000,10.00000,10.00000

In [57]:
sort_forename=Commerce_xls['Weight_in_gms'].sort_values()
sort_forename.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
Commerce_xls

In [60]:
Commerce_xls.to_csv('E-Commerce_train.csv',sep=",",index = None)

In [1]:
Commerce_csv=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\henry\pi\datathon\Datathon\E-Commerce_train_csv.csv')

NameError: name 'pd' is not defined

In [ ]:
Commerce_csv